/* Global */
.vheight-100 {
  min-height: 100vh;
}
.below-nav {
  padding-top: 7rem;
}
.projects-title {
  margin-top: 2rem;
}
#containerExt{
  padding-right:0px;
  padding-left:0px; 
}
#containerMainContent{
  padding-top:1%;
}
#navbar {
  background-color: rgb(240, 240, 173);
}
#containerLogin{
  align-content:center;
  width: 500px;
  height: 500px;
  background-color: rgba(228, 228, 228, 0.884);
  border-radius: 10px 10px 10px 10px;
  padding-top: 3%;
  padding-left: 6%;
  padding-right:6.5%;
  margin-top:5%;
}
#logout {
  position: absolute;
  right: 5%;
}
#sidebarCalendar{
  background-color: rgb(240, 240, 173);
  border-radius: 10px 10px 10px 10px;
  padding-right: 5%;
}
.tabspinners{
  position: absolute;
  right: 10%;
}
/* img buttons */
.img-button:hover {
  cursor: pointer;
}
.list-title {
  font-weight: 500;
}
