/* Global */
.vheight-100 {
  min-height: 100vh;
}

.below-nav {
  padding-top: 7rem;
}

.projects-title {
  margin-top: 2rem;
}

/* img buttons */
.img-button:hover {
  cursor: pointer;
}

.list-title {
  font-weight: 500;
}
