/* Global */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.vheight-100 {
  min-height: 100vh;
}
.below-nav {
  padding-top: 7rem;
}
.projects-title {
  margin-top: 2rem;
}
#containerExt{
  padding-right:0px;
  padding-left:0px; 
}
#containerMainContent{
  padding-top:1%;
}
#navbar {
  background-color: rgb(240, 240, 173);
}
#containerExt{
  font-family: 'Poppins',sans-serif;
}
#containerLogin{
  align-content:center;
  width: 500px;
  height: 500px;
  background-color: rgba(228, 228, 228, 0.884);
  border-radius: 10px 10px 10px 10px;
  padding-top: 3%;
  padding-left: 6%;
  padding-right:6.5%;
  margin-top:5%;
}
#containerReport{
  align-content:center;
  width: 800px;
  height: 700px;
  background-color: rgba(228, 228, 228, 0.884);
  border-radius: 10px 10px 10px 10px;
  padding-top: 3%;
  padding-left: 2%;
  padding-right:6.5%;
  margin-top:5%;
}
#containerFilters{
  align-content: center;
  background-color: rgba(228, 228, 228, 0.884);
  border-radius: 10px 10px 10px 10px;
  padding-left: 2%;
  padding-right:6.5%;
  padding-bottom : 2%;
  padding-top : 1.5%;
  margin-bottom: 2%;
}
#logout {
  position: absolute;
  right: 5%;
}
#sidebarCalendar{
  background-color: rgb(240, 240, 173);
  border-radius: 10px 10px 10px 10px;
  padding-right: 5%;
}
.tabspinners{
  position: absolute;
  right: 10%;
}
/* img buttons */
.img-button:hover {
  cursor: pointer;
}
.list-title {
  font-weight: 500;
}

.buttonEvent {
  position : relative;
  left : 2%
}
/* support page */
#supportContainer{
  padding-top: 5%;
}
/* teacher page */
.selectedText{
  position: absolute;
  right: 5%;
}
 #buttonPDF{
   position : absolute;
   right : 0%;
 }
 #buttonCSV{
  position : absolute;
  right : 0%;
 }
 .page-link{
   color : black;
   background-color:  rgb(255, 235, 205);
 }
 .page-link:hover{
  color : black;
  background-color:  rgb(255, 235, 205);
}
 .page-item.active .page-link {
  z-index: 3;
  color: black;
  background-color: orange;
  border-color : orange;
}
 /******* BURGER SIDEBAR *******/
 /* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #000000;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: orange;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: relative;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: rgb(240, 240, 173);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: black;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  float: right;
  outline: none;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/*** Multiselect ***/
  .searchBox { /* To change search box element look*/
    border: none;
    font-size: 10px;
  }
  .inputField { /* To change input field position or margin*/
      margin: 5px;
  }
  .chip { /* To change css chips(Selected options)*/
    background-color: red;
  }
  ._7ahQImyV4dj0EpcNOjnwA {
    background : red;
  }
  .optionContainer { /* To change css for option container */
    border: 2px solid;
  }
  .option { /* To change css for dropdown options*/
    font-size: 15px;
  }
  #multiselectContainerReact{
    background-color:white;
  }
  /*
  .groupHeading { /* To chanage group heading style*/
    
  /*}